.left-frame {
  position: absolute;
  width: 50%;
  height: 98%;
  left: 0;
  overflow-y: scroll;
}
.right-frame {
  position: absolute;
  width: 50%;
  height: 98%;
  right: 0;
  overflow-y: hedden;
}
.inner-frame {
  width: 100%;
  height: 98%;
}