@charset "UTF-8";
body {
    Xfont-family: monospace;
    font-family:'MS Gothic', 'Osaka-Mono', monospace;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 160%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin: 0 auto;
    max-width: 46em;
}
h1 {
	color: darkblue;
    line-height: 120%;
/* 	border-bottom: 5px solid blue; */
	padding-bottom: 5px;
}
a {
    text-decoration:none;
}
a:hover {
    background-color: #c2dfea;
}
#breadcrumb {
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
/*  border: 2px blue solid; */
	border: none;
    background-color: #d0f8ff;
    padding: 0.5em;
}
#tuti {
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border:none;
    background-color:#e8e8e8;
    padding:0.5em;
}
