@charset "UTF-8";
body {
    font-family: "ＭＳ ゴシック", "MS Gothic", Osaka－等幅, Osaka-Mono, monospace;
    text-size-adjust: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 160%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
li {
	line-height: 220%;
}
.title {
	color: darkblue;
}
.main-li {
	display: inline-block;
}
/* .a-pc {
} */

h1 {
  line-height: 120%;
	padding-bottom: 5px;
}
a {
   text-decoration: none;
   border-bottom: 1px solid blue;
   padding-bottom: 2px;
}
a:active {
   border-bottom: 1px solid #ff0000;
   padding-bottom: 2px;
}
a:visited {
   border-bottom: 1px solid #800080;
   padding-bottom: 2px;
}
#all {
  margin:0 auto;
  max-width: 700px;
}
#menu {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
	border: 2px darkblue solid;
/* 	border: none; */
/*  background-color: #d0f8ff; */
    padding: 0.5em;
}
#tuti {
  border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border:none;
  background-color:#e8e8e8;
  padding:0.5em;
}
#left-frame {
  position: absolute;
  width: 30%;
  height: 95%;
  margin: 0.5em;
  left: 0;
  overflow-y: scroll;
  border-right: solid 5px #e8e8e8;
}
#right-frame {
  position: absolute;
  width: 70%;
  height: 95%;
  right: 0;
  overflow-y: hedden;
}
#inner-frame {
  width: 100%;
  height: 100%;
}
/* ページ内検索 */
#search-word-box {
  position: relative;
  display: inline-flex;
  align-items: center;
}
#search-word-input {
  height: 2.0em;
}
#search-word-button {
  height: 2.5em;
}
#search-clear-button {
  position: absolute;
  display: block;
  right: 3px;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  cursor: pointer;
}
.s-highlight{
  background-color:yellow;
}
.s-hide{
  display: none;
}
/* 傷病名コード化 */
#byomei-word-box {
  position: relative;
  display: inline-flex;
  align-items: center;
}
#byomei-word-input {
  height: 2.0em;
}
#byomei-word-button {
  height: 2.5em;
}
#byomei-clear-button {
  position: absolute;
  display: block;
  right: 3px;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  cursor: pointer;
}